# Локални папки, които не искам в GitHub
01.Lcd_and/
04.coding/
05.sets/
student_books/
gen_subsets/

# Компилационни файлове на C++
*.log
*.swp

# Build директории
build/
bin/

# IDE / OS файлове
.vscode/
.DS_Store